body {
    background-color: rgb(54, 50, 50);
    font-family: Arial, sans-serif;
}

section {
    border: 3px solid;
    border-color: rgb(255, 0, 0);
    background-color: rgb(57, 57, 186);
    margin: 50px 20px;
    padding: 30px;
}

.div-interna {
border: 3px solid;
border-color: rgb(0, 0, 0);
margin: 60px;
padding: 30px;
background-color: rgb(157, 229, 48);
}