body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

section {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    border-radius: 8px;
}
.card {
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: center;;
    margin: 30px;
    padding: 30px;
    border: rgb(54, 50, 50) solid;
}

header, footer {
    background-color: rgb(54, 50, 50);
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}