body {
    font-family: sans-serif;
    transition: 0,5s;
    text-align: center;
    padding-top: 50px;
}

body.claro {
    background: #fff;
    color: #000;
}

body.escuro {
    background: #111;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}