body {
    font-family: Arial, sans-serif;
    margin: 0;
}
nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}
nav a{
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
section{
    height: 100vh;
    text-align: center;
    /* height: 100%; */
    padding: 10px;
}
#menu {
    background-color: whitesmoke;
}
#cadastro {
    background-color: orange;
    height: 100vh;
    padding-top: 100px;
}
#login {
    background-color: whitesmoke;
    height: 100vh;
    padding-top: 200px;
}
header, footer {
    background-color: rgb(54, 50, 50);
    color: whitesmoke;
    padding: 5px;
    text-align: center;
}
.sam {
    border: #333 solid;
    border-radius: 8px;
    justify-content: flex-start;
    padding: 20px;
    margin: 10px;
    max-width: 20%;
}
.caixas {
    display: flex;
    justify-content: center;
    height: auto;
}
h1 {
    margin: 10px;
}
form {
    margin: auto;
    background-color: #333;
    color: white;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 20px 20px 20px rgba(89, 88, 88, 0.437);
}
label {
    display: block;
}
.sexo {
    display: inline;
}
input {
    border-radius: 20px ;
    border: 2px solid orange;
}
p {
    justify-content: center;
    width: auto;
}

